html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
canvas {
  /* vertical-align: top; */
}
.canvasClass{

}

.button {
    position: fixed;
    bottom: 10px;
    align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-left: -104.5px; /*104.5px is half of the button's width*/
}
