html, body {
  /* height: 100%; */
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
canvas {
  /* vertical-align: top; */
}
.canvasClass{

}

.container {
  padding: 10px 0px 0px 0px;
}

.tree_frames {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    min-height:200px;
    min-width:200px;
    /*border: 1px solid #eaeaea;*/
}

.tree {
    background-color: #FFFFFF;
    border-radius: 0px;
    text-align: center;
    font-family: Verdana, Arial, Sans-Serif;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.tree_table {
    top: 0px;
    left: 0px;
    margin: 0 auto 0 auto;
}

td .tree_table {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
